name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu_latest

    steps:
      - name: Checkout respository
        uses: actions/checkout@v4

      - name: Configure CMake
        run: cmake -S . _B build

      - name: Build
        run: cmake --build build --config Release

      - name: Run tests
        run: |
          cd build
          ctest --output-on-failure || echo "No tests yet"
